<ion-pane>
    <ion-content>
        <div class="row">
            <div class="col col-100 text-center">
                <img class="icm-img-responsive padding" src="img/icm_logo.png">
            </div>
        </div>

        <div class="row padding text-center">
            <div class="col-50 icm-grid-main-menu">
                <button class="button button-block button-light">
                <img class="button button-icon" src="img/icons/avisos.png">
                <br> Avisos </br>
            </button>
                <button class="button button-block button-light">
                <img class="button button-icon" src="img/icons/igrejas.png">
                <br> Igrejas </br>
            </button>
                <button class="button button-block button-light">
                <img class="button button-icon" src="img/icons/ao_vivo.png">
                <br> Ao Vivo </br>
            </button>
            </div>
            <div class="col-50 icm-grid-main-menu">
                <button class="button button-block button-light">
                <img class="button button-icon" src="img/icons/inscricoes.png">
                <br> Inscrições </br>
            </button>
                <button class="button button-block button-light">
                <img class="button button-icon" src="img/icons/membros.png">
                <br> Membros </br>
            </button>
                <button class="button button-block button-light">
                <img class="button button-icon" src="img/icons/radio.png">
                <br> Rádio </br>
            </button>
            </div>
        </div>
    </ion-content>
</ion-pane>